################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Emertec.Api/bin/Debug/net8.0
/Emertec.Api/obj
/Emertec.Application/bin/Debug/net8.0
/Emertec.Application/obj
/Emertec.Domain/bin/Debug/net8.0
/Emertec.Domain/Emertec.Api/bin/Debug/net8.0
/Emertec.Domain/Emertec.Api/obj
/Emertec.Domain/obj
/Emertec.Infrastructure/bin/Debug/net8.0
/Emertec.Infrastructure/obj
/Emertac.UI.Application/bin/Debug/net8.0
/EmertacUI/obj
/EmertacUI/obj/Debug/net8.0/EmertacUI.AssemblyInfoInputs.cache
/EmertacUI/bin/Debug/net8.0/EmertacUI.dll
/Emertac.UI.Application/bin/Debug/net8.0/Emertac.UI.Application.dll
/Emertac.UI.Application/bin/Debug/net8.0/Emertac.UI.Application.pdb
/Emertac.UI.Infrastructure/obj/Debug/net8.0/Emertac.UI.Infrastructure.csproj.AssemblyReference.cache
